.jumbotron{
    padding-top: 6rem;
    background-color: #bff5cc;
}

#projects{
    background-color: #bff5cc;
}

section{
    padding-top: 5rem;
}
.gallery-img {
    width: 100%;
}

#gallery .row>* {
    padding: 0;
}